@import "../variables";

// TODO: для этого блока вопрос такой:
// на макете каждый новый текстовый блок на том же уровне, что и текст в соседней колонке, как это добиться средствами css ?
// картинки в высоту разные, поэтмоу отступ снизу ничего не даст, (
// может обернуть картинку в обёртку и задать ей высоту, и от обёртки уже отступом отталкивать текст ?
// в общем как то надо синхронизировать высоту, не знаю как ((

.about {
  margin-bottom: 60px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__list-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__item-icon path {
  fill: $base-lighest;
}

.about__icon-wrapper {
  height: 40px;
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__list-item {
    width: 50%;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-left: 175px;
    margin-bottom: 88px;
  }

  .about__list-item {
    width: 41%;
  }
}
