@import "../variables";

.button {
  display: inline-block;
  padding: 13px 0;
  border: 2px solid $alter-text;
  text-align: center;
  color: $alter-text;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    background-color: $alter-text;
    color: #ffffff;
  }

  &:active {
    background-color: $alter-text;
    color: #8d8d8d;
  }

  &--light-theme {
    border: none;
    background-color: $base-lighest;
    color: #ffffff;

    &:hover {
      background-color: $base-hover;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
