@import "../variables";

.categories-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.categories-list__item {
  display: flex;
  min-height: 100px;
  padding-left: 30px;
  padding-right: 27px;
  background-color: $base-light;

  &--dark {
    background-color: $base-medium;
  }
}

.categories-list__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.categories-list__title {
  display: inline-block;
  width: 100px;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .categories-list {
    width: 668px;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
  }

  .categories-list__item {
    flex-grow: 1;
    padding-left: 36px;
    padding-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .categories-list {
    width: 1050px;
  }
}
