@import "../variables";

.comment-group {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 2px solid $base-light;

  margin-top: 40px;
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .comment-group {
    flex-direction: row;
    border-top: none;
    margin-top: 0;
    padding-top: 49px;
  }

  .comment-group__label {
    padding-top: 10px;
  }
}
