@import "../variables";

.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
}

.contacts__title-container {
  margin-bottom: 38px;
}

.contacts__flag-icon {
  display: none;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 45px;
  list-style: none;
  font-size: 15px;
  line-height: 30px;
  color: $alter-text;
}

.contacts__lit-item {
  display: flex;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__contact-name {
  margin-right: 28px;
  flex-shrink: 0;
}

.contacts__contacts-value--mail {
  color: $alter-text;
  border-bottom: 1px solid $base-hover;

  &:hover {
    color: $base-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  height: 460px;
  width: 100%;
  margin-bottom: 40px;

  // Временно
  background-color: #e5e5e5;
}

.contacts__contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;
  }

  .contacts__title-container {
    margin-bottom: 35px;
  }

  .contacts__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__flag-icon {
    display: inline;
  }

  .contacts__title {
    margin-top: 19px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    flex-direction: row;
    margin-bottom: 60px;
    font-size: 17px;
  }

  .contacts__lit-item {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__button-wrapper {
    text-align: center;
  }

  .contacts__button {
    width: 230px;
  }

  .contacts__map-wrapper {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-bottom: 105px;
  }

  .contacts__title-wrapper {
    position: absolute;
    top: 60px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .contacts__title {
    margin-top: 12px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__flag-icon-wrapper {
    width: 175px;
  }

  .contacts__contacts-wrapper {
    display: flex;
    flex-direction: row;
    width: 1050px;
    padding-left: 175px;
    margin: 0 auto;
  }

  .contacts__list {
    padding-top: 150px;
    flex-direction: column;
  }

  .contacts__lit-item {
    width: auto;
    margin-bottom: 38px;
  }

  .contacts__map-wrapper {
    margin-bottom: 0;
  }

  .contacts__button-wrapper {
    width: auto;
    position: absolute;
    bottom: 0;
  }
}
