@import "../variables";

.footer {
  background-color: $bg-dark;
  height: 160px;
}

.footer__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 4px;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid $character;
}

.footer__social-item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__created-by {
  display: flex;
  justify-content: center;
  padding-top: 21px;

  &:hover .footer__created-by-logo {
    color: $base-hover;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__created-by-title {
  margin-right: 30px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}

.footer__logo {
  display: none;
}

.footer__created-by-logo {
  color: #63d1bb;
}

.footer__logo-icon,
.footer__social-icon {
  color: #000000;

  &:hover {
    color: $base-hover;
  }

  &:active {
    color: $base-hover;
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    height: 143px;
  }

  .footer__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .footer__logo {
    display: block;
    margin-right: auto;
  }

  .footer__social-list {
    border-bottom: none;
    margin-right: 80px;
    padding-top: 30px;
    padding-right: 0;
  }

  .footer__created-by {
    padding-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .footer__social-list {
    margin-right: 272px;
  }
}
