@import "../variables";

.form {
  margin-bottom: 58px;
}

.form__group-label {
  position: absolute;
  top: -13px;
  left: 0;
  padding-right: 25px;
  background-color: #ffffff;
  color: $base-light;
  font-weight: bold;
  text-transform: uppercase;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.form__text {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  color: $alter-text;
}

.form__hint {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 16px;
  color: $alter-text;
}

.form__inputs-container {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 50px;
  }

  .form__group-label {
    width: 167px;
    flex-shrink: 0;
    position: relative;
    top: auto;
    left: auto;
    background-color: transparent;
  }

  .form__button-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__group-container--dark {
    background-color: $bg-dark;
  }

  .form__inputs-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form__hint,
  .form__text {
    font-size: 17px;
    line-height: 30px;
  }

  .form__hint {
    margin-bottom: 0;
  }

  .form__button {
    width: 230px;
  }

  .form__inputs-container {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__group-label {
    width: 175px;
    padding-left: 62px;
  }

  .form__text {
    padding: 0 175px;
  }

  .form__button-wrapper {
    padding: 0 175px;
  }

  .form__inputs-group {
    justify-content: flex-start;
  }

  .form__inputs-container {
    margin-bottom: 47px;
  }
}
