@import "../variables";

.header {
  min-height: 255px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $bg-dark;

  &--theme-hero {
    min-height: 560px;
    background: url("../img/hero-mobile@1x.jpg") 50% 0 no-repeat $bg-light;
  }
}

.header__title {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.header__categories-list {
  margin-top: auto;
}

.header__promo-list,
.header__delivery {
  // TODO: стоит ли их скрывать полностью? возможно стоит оставить для читалок, а скрыть визуально
  display: none;
  font-size: 15px;
}

.header__promo-list {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 230px;

    &--theme-hero {
      min-height: 832px;
      background: url("../img/hero-tablet@1x.jpg") 50% 100% no-repeat $bg-light;
    }
  }

  .header__title {
    padding-top: 160px;
    width: 500px;
    margin: 0 auto;
  }

  .header_promo-container {
    position: relative;
    height: 1px;
  }

  .header__delivery {
    display: inline;
    position: absolute;
    right: 0;
    top: -70px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    &--theme-hero {
      background: url("../img/hero-desktop@1x.jpg") 50% 0 no-repeat $bg-light;
    }
  }

  .header_promo-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .header__delivery {
    position: relative;
    top: auto;
    right: auto;
  }

  .header__promo-list {
    display: flex;
  }

  .header__promo-list-item {
    margin-right: 60px;
  }
}
