@import "../variables";

.header {
  background: url("../img/hero-mobile@1x.jpg") 100% 100% no-repeat;
  min-height: 320px;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 715px;
  }
}
