@import "../variables";

.input-text {
  display: flex;
  flex-direction: column;

  font-size: 17px;
  line-height: 18px;
}

.input-text__title {
  margin-bottom: 10px;

  font-weight: bold;
}

.input-text__input {
  padding-top: 6px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;

  &::placeholder {
    color: #dfdfdf;
  }

  &:hover,
  &:focus {
    border-color: $base-light;
  }
}

.input-text--icon {
  position: relative;
  font-size: 19px;

  .input-text__input {
    padding-right: 40px;

    &:hover ~ .input-text__icon,
    &:focus ~ .input-text__icon {
      color: $base-light;
    }
  }
}

.input-text__icon {
  position: absolute;
  top: 3px;
  color: #cccccc;
  transition: color 0.3s;
}

.input-text__icon--phone {
  right: 8px;
}

.input-text__icon--email {
  right: 4px;
}

@media (min-width: $tablet-width) {
  .input-text {
    flex-direction: row;
    width: 500px;
    font-size: 19px;
  }

  .input-text__title {
    margin-bottom: 0;
    margin-right: 26px;
  }

  .input-text__input {
    flex-grow: 1;
    padding-top: 0;
    padding-left: 13px;
  }

  .input-text__icon--phone {
    top: 0;
    right: 24px;
  }

  .input-text__icon--email {
    top: 0;
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .input-text {
    width: 700px;
  }

  .input-text__input {
    padding-bottom: 15px;
  }

  .input-text__icon--email,
  .input-text__icon--phone {
    right: 5px;
  }
}
