@import "../variables";

.main-nav {
  background: linear-gradient(to bottom, #ffffff 90px, $character 2px, rgba(0, 0, 0, 0) 23%);
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list-item {
  height: 80px;
  order: 5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 75px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid $character;
}

.main-nav__link {
  color: $main-text;
  font-weight: bold;
}

.main-nav__list-item--logo {
  justify-content: center;
  padding-left: 0;
}

.main-nav__list-item--search,
.main-nav__list-item--cart {
  padding-left: 30px;
}

.main-nav__cart-icon,
.main-nav__search-icon {
  margin-right: 20px;
}

.main-nav__list-toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background: linear-gradient(to bottom, #ffffff 90px, $character 2px, rgba(0, 0, 0, 0) 51%);
  }

  .main-nav__menu-layout,
  .main-nav__list-item {
    height: 90px;
  }

  .main-nav__list-item {
    background-color: initial;
    border-bottom: none;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
  }

  .main-nav__list-item--logo {
    width: 220px;
    justify-content: flex-start;
    text-align: initial;
    margin-right: auto;
    padding-left: 0;
  }

  .main-nav__list-item--catalog,
  .main-nav__list-item--order {
    padding-top: 20px;
    padding-left: 0;
    margin-right: 35px;
    order: 6;
    align-items: flex-start;
  }

  .main-nav__list-item--cart {
    width: 265px;
    padding-right: 0;
    justify-content: flex-end;
  }

  .main-nav__list-item--search {
    width: 83px;
    padding-left: 0;
    justify-content: center;
  }

  .main-nav__list-item--search,
  .main-nav__list-item--cart {
    border-left: 1px solid $character;
  }

  .man-nav__cart-icon {
    margin-right: 30px;
  }

  .main-nav__search-icon {
    margin-right: 0;
  }

  .main-nav__search-title {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background: none;
    border-bottom: 1px solid $character;
  }

  .main-nav__list {
    width: 1050px;
  }

  .main-nav__list-item--catalog,
  .main-nav__list-item--order {
    order: 4;
    align-items: center;
  }

  .main-nav__list-item--logo {
    margin: 0 auto;
    width: auto;
  }
}

