@import "../variables";

.production-process {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  border: 1px solid $character;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 5px 15px 0 $character;
  }

  &:active {
    box-shadow: 0 2px 5px 0 $character;
  }
}

.production-process__order-wrapper,
.production-process__title-wrapper {
  padding-left: 33px;
  padding-right: 33px;
}

.production-process__title-wrapper {
  display: flex;
  align-items: center;
  padding-top: 23px;
  margin-bottom: 25px;
}

.production-process__order-wrapper {
  padding-top: 23px;
  padding-bottom: 32px;
}

.production-process__button {
  width: 100%;
}

.production-process__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}

.production-process__title-icon {
  width: 50px;
  height: auto;
  margin-right: 24px;
  color: $base-lighest;
}

.production-process__play-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

.production-process__video-container {
  position: relative;
}

.production-process__description {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  color: $alter-text;
}

@media (min-width: $tablet-width) {
  .production-process {
    margin-bottom: 68px;
  }

  .production-process__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .production-process__video-container {
    height: 455px;
  }

  .production-process__title-wrapper {
    padding-top: 33px;
    margin-bottom: 0;
  }

  .production-process__order-wrapper,
  .production-process__title-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .production-process__title {
    font-size: 20px;
    letter-spacing: 0.2px;
  }

  .production-process__order-wrapper {
    padding-top: 28px;
    padding-bottom: 40px;
  }

  .production-process__description {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .production-process__title-icon {
    width: 33px;
    height: auto;
    margin-right: 31px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    flex-direction: row;
    margin-bottom: 103px;
  }

  .production-process__container {
    flex-direction: column;
    position: relative;
  }

  .production-process__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 0;

    position: absolute;
    right: -280px;
    top: 40px;
  }

  .production-process__video-container {
    min-width: 680px;
  }

  .production-process__order-wrapper {
    padding-top: 174px;
    padding-left: 80px;
    padding-right: 58px;
  }

  .production-process__title-icon {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .production-process__description {
    margin-bottom: 50px;
  }
}
