@import "../variables";

.reviews {
  margin-bottom: 45px;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.reviews__reviews-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reviews__review-text {
  margin-top: 0;
  margin-bottom: 38px;
  color: $alter-text;
  font-size: 15px;
  line-height: 30px;
}

.reviews__review-author-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.reviews__review-author-nick {
  font-size: 17px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 65px;
  }

  .reviews__content-wrapper {
    position: relative;
  }

  .reviews__button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .reviews__reviews-controls-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__content-wrapper {
    padding-left: 175px;
  }
}

