@import "../variables";

.reviews {
  margin-bottom: 34px;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.reviews__reviews-list {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}

.reviews__review-text {
  margin-top: 0;
  margin-bottom: 27px;
  color: $alter-text;
  font-size: 15px;
  line-height: 30px;
}

.reviews__review-author-name {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.reviews__review-author-nick {
  font-size: 17px;
  line-height: 30px;
}

.reviews__reviews-controls-wrapper {
  display: flex;
  margin-bottom: 39px;
}

.reviews__prev-review,
.reviews__next-review {
  height: 50px;
  flex-grow: 1;
  border: 1px solid $character;
  background-color: transparent;
  cursor: pointer;
}

.reviews__next-review {
  border-left: none;
}

.reviews__button {
  width: 100%;
}

.reviews__review {
  display: flex;
  flex-direction: column;
}

.reviews__next-icon,
.reviews__prev-icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 65px;
    background-image: url("../img/review@1x.jpg");
    background-position: left top;
    background-size: 350px auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    margin-bottom: 48px;
  }

  .reviews__content-wrapper {
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
  }

  .reviews__reviews-list {
    margin-bottom: 0;
  }

  .reviews__review-text {
    margin-bottom: 57px;
    font-size: 17px;
  }

  .reviews__button,
  .reviews__reviews-controls-wrapper {
    width: 175px;
    position: absolute;
    right: 0;
  }

  .reviews__button {
    top: 80px;
  }

  .reviews__reviews-controls-wrapper {
    bottom: 52px;
    margin-bottom: 0;
  }

  .reviews__prev-review,
  .reviews__next-review {
    border: none;
  }

  .reviews__review-author-name {
    letter-spacing: 0.7px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
  }

  .reviews__content-wrapper {
    padding-left: 175px;
    padding-top: 71px;
    padding-bottom: 100px;
  }

  .reviews__review-text {
    margin-bottom: 40px;
    padding-right: 80px;
  }

  .reviews__review-author-name {
    letter-spacing: 0.1px;
  }

  .reviews__reviews-controls-wrapper {
    bottom: 103px;
  }
}
