@import "../variables";

.wavy-line {
  height: 23px;
  width: 100%;
  background: url("../img/bg-zigzag-line.svg") 100% 100%;

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}
