@import "../variables";

.wavy-line {
  height: 8px;
  width: 100%;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    height: 16px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    height: 24px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;
  }
}
