@import "../variables";

.week-product {
  margin-bottom: 24px;
}

.week-product__titles-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.week-product__title {
  margin: 0 0 6px;
}

.week-product__sub-title {
  color: $base-light;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
}

.week-product__about {
  margin-top: 0;
  margin-bottom: 16px;
}

.week-product__info-list {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 28px;
  padding: 0;
  list-style: none;
}

.week-product__info-list,
.week-product__about {
  font-size: 15px;
  line-height: 24px;
}

.week-product__info-item {
  display: table-row;
  border-bottom: 1px solid $character;
}

.week-product__info-value,
.week-product__info-name {
  display: table-cell;
  padding: 8px 0;
}

.week-product__info-name {
  padding-right: 12px;
}

.week-product__price-wrapper {
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.week-product__info-wrapper,
.week-product__order-wrapper {
  color: $alter-text;
}

.week-product__info-wrapper {
  margin-bottom: 18px;
}

.week-product__order-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .week-product {
    position: relative;
    margin-bottom: 48px;
  }

  .week-product__titles-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  .week-product__sub-title {
    width: 175px;
    padding-right: 27px;
    padding-left: 76px;
    padding-top: 10px;
    text-align: center;
  }

  .week-product__info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .week-product__text-info {
    padding-bottom: 110px;
  }

  .week-product__order-wrapper {
    position: absolute;
    left: 0;
    bottom: 5px;
  }

  .week-product__text-info,
  .week-product__order-wrapper {
    width: 292px;
  }

  .week-product__about {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__info-name {
    padding-right: 0;
  }

  .week-product__price-wrapper {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }

  .week-product__image {
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .week-product {
    margin-bottom: 64px;
  }

  .week-product__titles-wrapper {
    position: absolute;
    top: 52px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .week-product__sub-title {
    padding-right: 55px;
    padding-left: 45px;
    padding-top: 15px;
  }

  .week-product__info-wrapper {
    padding-left: 175px;
  }

  .week-product__text-info {
    padding-top: 158px;
  }

  .week-product__order-wrapper {
    left: 175px;
    bottom: 9px;
  }

  .week-product__info-list {
    font-size: 17px;
  }

  .week-product__image {
    padding-top: 0;
    padding-bottom: 4px;
  }

  .week-product__about {
    margin-bottom: 48px;
  }
}
